Makefile
/libtool
.deps
src/config.h
src/poke
src/poke-poke.o
stamp-h1
/ABOUT-NLS
/build-aux
*~
Makefile.in
aclocal.m4
m4
config.h.in
/configure
/config.log
/config.status
/configure.lineno
/lib
/po
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/autom4te.cache/
/doc/poke.info
/doc/pokeint.info
/doc/pkl-spec.info
/doc/stamp-1
/doc/stamp-vti
/doc/version.texi
/doc/version-int.texi
/gnulib
/src/pcl-lex.h
